
  <h2 id="about-title">About </h2>

<div class="about">
  <div class="me">
    <div>
      <img class="profile-pic" src="https://res.cloudinary.com/wagon/image/upload/c_fill,g_face,h_200,w_200/vmb87l47rvatbv0gmliy.jpg" alt="">
    </div>
    <div class="paragraph">
      <p>I grew up in Piddington, a small town near Bicester. I've moved around a bit since then but now my family and I currently live in Thame, Oxfordshire. As you may have seen by the banner, I enjoy watching films, running, hanging out with friends and of course, coding!</p>
    </div>
  </div>


    <div class="lewagon">
      <div class="lewagoninfo">
        <p>From July-September 2018, I was a student at le Wagon London(Batch 173). It's a 9-week intensive coding bootcamp teaching HTML, CSS, Bootstrap, JavaScript ES2015, SQL, git, GitHub, Heroku and Ruby on Rails. The last few weeks are very project based and, in a team, we designed, implemented and shipped to production a clone of AirBnB and a Rails prototype called Gimme Shelter. </p>
      </div>
      <div>
        <img class="profile-pic" src="https://course_report_production.s3.amazonaws.com/rich/rich_files/rich_files/1692/s300/le-wagon-logo.png" alt="">
      </div>
    </div>
</div>

   <div class="last">
      <div>
        <img class="profile-pic" src="https://www.text100.com/wp-content/uploads/2015/04/codingfeatured.jpg" alt="">
      </div>
      <div class="lastparagraph">
        <p>I'm now looking to start a career in web development. I would like to focus on full stack, so I can continue to increase my current knowledge and keep things fresh in my mind. Location wouldnt be an issue as I'd be open to move/travel to places near Oxford/London. I'm excited to see where i go next!</p>
      </div>
    </div>
</div>






<h2 id="projects-title">Projects </h2>
<div class="projects">
  <div class="container">
    <div class="row">

      <div class="col-xs-12 col-sm-4">
        <div class="card hover" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "gimme.png" %>);">
          <div class="card-description text">
            <h2>Gimme Shelter</h2>
            <p>A mobile website created in a group at Le Wagon. It enables someone to book a hostel bed for a homeless person that night and show nearby services.</p>
          </div>
          <a class="card-link" href="http://www.gimmeshelter.online/" target="_blank"></a>
        </div>
      </div>

      <div class="col-xs-12 col-sm-4">
        <div class="card hover" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "al-fresco.png" %>);">
          <div class="card-description text">
            <h2>Al Fresco</h2>
            <p>This website allows the user to rent an outdoor space for an occasion such as a party. They can also upload their own outdoor space to be rented</p>
          </div>
          <a class="card-link" href="https://al-fresco.herokuapp.com/" target="_blank" ></a>
        </div>
      </div>

       <div class="col-xs-12 col-sm-4">
        <div class="card hover" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "task.png" %>);">
          <div class="card-description text">
            <h2>Task Manager</h2>
            <p>This website is a basic Task Manager to demonstrate the Rails CRUD features.</p>
          </div>
          <a class="card-link" href="https://taskmanagerv2.herokuapp.com" target="_blank" ></a>
        </div>
      </div>

    </div>
  </div>

</div>


<div class="cv">

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Résumé</button>
</div>

<div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content size">
        <div class="modal-body">
          <%= image_tag ("cv.png"), class: "img-responsive" %>
            <!-- <img src="assets/images/cv.png" class="img-responsive"> -->
        </div>
    </div>
  </div>
</div>

<div class="skills">
 <h2 id="skills-title">Skills </h2>
  <div class="ruby-rails-html">
    <div>
      <h3>Ruby</h3>
        <div class="progress-wrap progress star" data-progress-percent="70">
        <div class="progress-bar progress"></div>
        </div>
    </div>


     <div>
      <h3>Ruby on Rails</h3>
        <div class="progress-wrap progress star" data-progress-percent="70">
        <div class="progress-bar progress"></div>
        </div>
    </div>

     <div>
        <h3>HTML</h3>
         <div class="progress-wrap progress star" data-progress-percent="70">
        <div class="progress-bar progress"></div>
        </div>
      </div>

</div>
  <div class="html-javascript">
    <div>
      <h3>CSS</h3>
        <div class="progress-wrap progress star" data-progress-percent="70">
        <div class="progress-bar progress"></div>
        </div>
    </div>


     <div>
      <h3 class="java">Javascript</h3>
        <div class="progress-wrap progress star" data-progress-percent="40">
        <div class="progress-bar progress"></div>
        </div>
    </div>
</div>
</div>

<!-- <div
  id="map"
  style="width: 100%;
  height: 200px;"
  data-markers="<%= @markers.to_json %>"
></div>
 -->


<div class="social">
  <h2 id="social-title">Contact</h2>

  <div class="all-socials">
    <div>
      <a href="https://www.facebook.com/ben.herring.79"  target="_blank"><img class="connect" src="https://upload.wikimedia.org/wikipedia/en/thumb/8/8c/Facebook_Home_logo_old.svg/1024px-Facebook_Home_logo_old.svg.png" alt=""></a>
    </div>
    <div>
      <a href="https://www.instagram.com/ben_herring1/?hl=en"  target="_blank"><img class="connect" src="https://d1afx9quaogywf.cloudfront.net/sites/default/files/Logos/Instagram-v051916_0.png" alt=""></a>
    </div>
    <div>
      <a href="https://www.linkedin.com/in/ben-herring-56baa216a/"  target="_blank"><img class="connect" src="https://www.drupal.org/files/project-images/linkedin_circle_logo.png" alt=""></a>
    </div>
    <div>
      <a href="https://github.com/Herring123"  target="_blank"><img class="connect" src="https://cdn4.iconfinder.com/data/icons/iconsimple-logotypes/512/github-512.png" alt="">
    </div></a>
  </div>
</div>

<style>
  .progress {
  width: 200px;
  height: 50px;
  /*box-shadow: 20px;*/
}
.progress-wrap {
  background: #f80;
  margin: 20px 0;
  overflow: hidden;
  position: relative;
  /*box-shadow: 3px 3px #888888;*/
  box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  .progress-bar {
    background: #ddd;
    left: 0;
    position: absolute;
    top: 0;
  }
}

</style>




<script>
// window.onscroll = function (e) {
  $(window).scroll(function() {
  $('.progress-wrap').each(function(){
    percent = $(this);
    bar = $(this).children('.progress-bar');
    moveProgressBar(percent, bar);
});

  // on browser resize...
  $(window).resize(function() {
    $('.progress-wrap').each(function(){
        percent = $(this);
        bar = $(this).children('.progress-bar');
        moveProgressBar(percent, bar);
    });
  });

  // SIGNATURE PROGRESS



// $(window).scroll(function() {
  function moveProgressBar(percent, bar) {
      var getPercent = (percent.data('progress-percent') / 100);
      var getProgressWrapWidth = percent.width();
      var progressTotal = getPercent * getProgressWrapWidth;
      var animationLength = 1000;

      // on page load, animate percentage bar to data percentage length
      // .stop() used to prevent animation queueing
      bar.stop().animate({
          left: progressTotal
      }, animationLength);
  }
  })
</script>




