<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Ben Herring</title>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  <script src="https://unpkg.com/scrollreveal"></script>

    <script>
        ScrollReveal({ reset: true });
    </script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  </head>
  <body>
  <div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.unsplash.com/photo-1516701599168-4ae7030897e7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=9b63223e51c2f7b1ce1f0a7be2a4afb9&auto=format&fit=crop&w=1489&q=80');">

    <div class="top">
      <ul>
        <a href="#about-title"><li class="item">About</li></a>
        <li class="item">|</li>
        <li class="item">Skills</li>
        <li class="item">|</li>
        <li class="item">Where?</li>
        <li class="item">|</li>
        <li class="item">Contact</li>
      </ul>
    </div>
    <div class="banner-content">
    <h1>Ben Herring</h1>
      <p>
        <span id="banner-typed-text"></span>
      </p>

    </div>



  </div>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js" %>
    <%= javascript_pack_tag 'application' %>
    <%= javascript_pack_tag "map" %>
    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?libraries=places&key=#{ENV['GOOGLE_API_BROWSER_KEY']}" %>

<script>ScrollReveal().reveal('.me', { delay: 300 });</script>
<script>ScrollReveal().reveal('.lewagon', { delay: 300 });</script>
<script>ScrollReveal().reveal('.last', { delay: 300 });</script>

  </body>
</html>
